/*GERAL========================================================*/

body{
    margin: 0;
}

/*CONTAINER====================================================*/
.container{
    display: inline;
    float: left;
    background-color: #C53F3F;
    margin: 0px 10% 0px 0;
    width: 40%;
    height: 100vh;
    padding: 0px 30px 0;
    border-radius: 0px 50px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    width: 280px;
    display: block;
    margin:  20px auto 0;
    
}

h2{
    color: #000000;
    font-size: 1.3rem;
    text-align: center;
}

h3{
    color: #000000;
    margin: 0 0 10px 0;
    text-align: center;
}

input{
    display: block;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 auto 30px;
    border: none;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}

input::placeholder{
    color: #C53F3F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}

button{
    width: 70%;
    margin: auto;
    display: block;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #ffffff;
    background-color: #000000;
}

button:hover{
    cursor: pointer;
}

p{
    color: #ffffff;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.icons{
    width: 195px;
    margin: 25px auto 0;
}

.icons img{
    width: 50px;
    display:inline-block
}

#icon-carne{
    margin-right: 15px;
}

#icon-refrigerante{
    width: 70px;
}

/*ILUSTRAÇÃO===================================================*/

.div-logo{
    background-color: #C53F3F;
    width: 100%;
    display: none;
}



#logo-mobile{
    display: block;
    margin: auto;
    height: 150px;
}

.div-mobile{
    display: none;
}


h1{
    margin: 100px 0 45px 0px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
    font-size: 2.3rem;
    font-weight: bolder;
    color: #C53F3F;
}

#ilustracao{
    width: 700px;
    display: flex;
}

#h1-mobile-2{
   display: none;
}

/*MEDIAS========================================================*/

@media screen and (max-width: 1680px) {

    .container{
        margin: 0px 5% 0px 0;
        width: 35%;
    }

    #ilustracao{
        width: 600px;
        margin: 0;
        position: relative;
        left: 6%;
    }

    
}


@media screen and (max-width: 1440px) {

    #logo{
        width: 240px;
    }

    input{
        padding: 10px;
        box-sizing: border-box;
        margin: 0 auto 20px;
    }

    h1{
        font-size: 2.1rem;
    }

    #ilustracao{
        position: relative;
        left: 1%;
    }

}

@media screen and (max-width: 1355px) {

    #logo{
        width: 240px;
    }

    h3{
       font-size: 1rem;
    }

    input{
        padding: 5px 10px;
        border-radius: 10px;
        box-sizing: border-box;
        margin: 0 auto 20px;
        font-size: 1rem;
    }

    input::placeholder{
        font-size: 0.8rem;
        font-weight: none;
    }

    button{
        padding: 10px;
    }

    h2{
        font-size:1.1rem
    }

    p{
        font-size: 1rem;
    }

    h1{
        font-size: 1.5rem;
    }

    #ilustracao{
        width: 500px;
    }

}

@media screen and (max-width: 1000px) {


    .div-mobile{
        display: flex;
       
    }

    #ilustracao-mobile{
        display: block;
        width: 30%;
        margin: 20px 7% 0 0;
    }

    #h1-mobile{
        display: flex;
        text-align: right;
        margin: 12% 15px 0 7%;
    }

    h1{
        display: none;
    }

    #ilustracao{
        display: none;
    }

    .container{
        display: block;
        width: 100%;
        height: auto;
        padding: 0;
        border-radius: 50px 50px 0px 0px;
    }

    h3{
        font-size: 1.3rem;
    }

    input{
        padding: 15px;
    }

    input::placeholder{
        font-size: 1rem;
    }

    button{
        padding: 20px;
    }

    h2{
        font-size: 1.3rem;;
    }

    p{
        font-size: 1.1rem;
    }

    .icons{
        width: 195px;
        margin: 25px auto 30px;
    }
    
}

@media screen and (max-width: 682px){

    .div-mobile{
        display: none;
    }

    .container{
        border-radius: 0;
        height: 100%;
    }

    #h1-mobile-2{
        display: block;
        color: #ffffff;
        width: 70%;
        margin: 25px auto 30px;
        text-align: center;
        font-size: 1.3rem;
    }

    h3{
        font-size: 1.1rem;
    }

}

